# Core package (installs runtime deps from pyproject.toml)
-e .

# Sphinx + docs ecosystem
sphinx>=8.1,<9
furo>=2024.8.6
myst-parser>=4,<5
sphinx-autoapi>=3.2,<4
sphinx-autodoc-typehints>=2.2,<3

# Notebook support in docs (if you use nbsphinx)
nbsphinx
ipython
ipykernel

# Optional
sphinx-rtd-theme
linkify-it-py>=2.0.0




